/* General styles */
html {
  margin : 0;
  padding: 0;
  height : 100%;
}

body {
  margin          : 0;
  padding         : 0;
  height          : 100%;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  background-color: #99b898;
  font-family     : "VT323", monospace;
  font-weight     : 400;
  font-style      : normal;
  overflow-x      : hidden;
  min-height: 100vh;
}

p {
  font-size: 18px;
  color    : #392b35;
}

a {
  font-size      : 16px;
  color          : #0C3F90;
  text-decoration: none;
}

a.inner {
  color          : #900c3f;
  text-decoration: solid;
}

h1 {
  font-size      : 32px;
  text-decoration: none;
}

.noise-overlay {
  position         : fixed;
  top              : -50%;
  left             : -50%;
  right            : -50%;
  bottom           : -50%;
  width            : 200%;
  height           : 200vh;
  background       : transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation        : bg-animation .2s infinite;
  opacity          : .9;
  visibility       : visible;
  pointer-events   : none;
}

/* Home page styles */
.my_name {
  width: 100%;
  text-align: center;
  color          : #900c3f;
  z-index: 1000;
}

.my_loves {
  text-decoration:none;
  text-decoration-style: dotted;
  color          : #900c3f;
  z-index: 1000;
}

.home-header {
  font-size: 16px; /* Adjust this value as needed */
  margin: 0;
  text-align: center;


}

.home-header:hover span {
    max-width: 500px;

    margin: 0 0.2em;
    color: #e84a5f;
}

.home-header span {
  max-width: 0;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  transition: max-width 0.5s ease-in-out;
}

.landing_img {
  max-width : 500px;
  max-height: 500px;
  width     : 100%;
  cursor    : pointer;
}

.landing_img:hover {
  transform: scale(1.05);
}

/* About page styles */
.about-content {
  text-align: center;
  margin    : 0 auto;
  max-width : 500px;
  padding   : 0 2rem;
}

.rollover-images {
  text-align: center;
}

.rollover {
  position   : relative;
  font-weight: bold;
  cursor     : pointer;
}

.rollover img {
  position  : absolute;
  bottom    : 30px;
  visibility: hidden;
}

.rollover:hover img {
  visibility: visible;
}

.larger-image{
  max-width: 200px;
  
}

.garden_img {
  max-width : 500px;
  max-height: 500px;
  width     : 100%;
  cursor    : pointer;
}

/* Keyframes */
@keyframes bg-animation {
  0% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-5%, -5%)
  }

  20% {
    transform: translate(-10%, 5%)
  }

  30% {
    transform: translate(5%, -10%)
  }

  40% {
    transform: translate(-5%, 15%)
  }

  50% {
    transform: translate(-10%, 5%)
  }

  60% {
    transform: translate(15%, 0)
  }

  70% {
    transform: translate(0, 10%)
  }

  80% {
    transform: translate(-15%, 0)
  }

  90% {
    transform: translate(10%, 5%)
  }

  100% {
    transform: translate(5%, 0)
  }
}

